h1{
    width: 30%;
    border-bottom: 2px solid #f1f1f1;
    text-transform: uppercase;
    font-family: "Indie Flower";
    margin-left: 1.66%;
    font-size: 50px;
}

img{
  width: 30%;
  float: left;
  margin: 1.66%;
}
